<nav class="navbar navbar-light btn-light">
    <div class="container-fluid">
        <h1 style="color:royalblue">List of gymnasiums</h1>
        <!-- <div class="search-gym">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start search">
          </div> -->
        <div class="d-flex">
            <button class="btn btn-primary">Add Gymnasium</button>
        </div>
    </div>
</nav>
<!-- IN THE ORDER OF THE PAGE -->
<div *ngFor="let gymnase of listGymnases">
    <div>{{gymnase.nomGymnase}}</div>
</div>
<!-- <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Adress</th>
            <th scope="col">Ville</th>
            <th scope="col">Surface</th>
            <th scope="col">Seance</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{gymnase.idGymnase}}</td>
            <td>{{gymnase.nomGymnase}}</td>
            <td>{{gymnase.adress}}</td>
            <td>{{}}</td>
            <td>{{}}</td>
            <td>{{}}</td>
            <td>{{}}</td>
        </tr>
    </tbody>
</table> -->
